<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        #main-content {
            margin-top: 50px;
        }

        #file-upload li {
            margin-top: 10px;
        }

        .look-around a {
            color: #000;
            text-decoration: none;
        }

        .look-around a:hover {
            font-weight: bold;
            color: white;
        }
    </style>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
</head>
<body onload="connect()">
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <button id="disconnect" class="w-100 btn btn-dark btn-lg" type="submit"
                            disabled="disabled">
                        로그아웃
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>